
body{
    font-family: 'Roboto', sans-serif;
    background-size:cover;
    color: #333333;
    padding-top: 60px;
}
header{
    background-color: #fff;
    position: fixed;
    height: 60px;
}
.cd-main-content{
    padding-top: 0px;
    background-color: #fff;
}
.cd-main-content .container{
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 0.4s;
}
.navbar-brand{
    float: left;
    height: 60px;
    padding: 0px;
}
.navbar-brand img{
    height: 59px;
}
#cd-menu-trigger{
    background-color: #fff;
    width: 40px;
    border-color: #fff;
}
.cross_transition{
     -webkit-transform:translateX(265px);
    -o-transform:translateX(265px);
    -moz-transform:translateX(265px);
    -ms-transform: translateX(265px);
    transform:translateX(265px);
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}
a:focus{
    outline: none;
}
#cd-menu-trigger .cd-menu-text{
   color: #000;
   font-weight: lighter;
}
#cd-menu-trigger .cd-menu-icon{
    background-color: #000;
    font-weight: lighter;
}
#cd-top-nav ul {
    margin: 3px 0px 0px;
}
#cd-top-nav li{
    margin-right: 10px;
}
#cd-top-nav a{
    color: #666;
    font-weight: 400;
    vertical-align: baseline;
    font-size: 16px;
    text-transform: uppercase;
}
a:focus{
    outline: none;
}
nav#cd-top-nav li:after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
nav#cd-top-nav li:hover:after{
    width: 100%;
    background: #e96125;
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: #000;
    font-weight: lighter;
}
#cd-top-nav{
    top: 0px;
    right: 28px;
    padding: 10px 0;
}
.addRgba{
    position: fixed;
    background:#000;
    width: 100%;  
    height: 100%;
    z-index: 9999;
    opacity: 0.6;
    cursor: pointer;
}
.addRgba2{
    position: fixed;
    background:#000;
    width: 100%;  
    height: 100%;
    z-index: 9999;
    opacity: 0.6;
}
a:hover{
    text-decoration: none;
    background-color: #fff;
}
#cd-lateral-nav{
    background-color: #fff;
}

#cd-lateral-nav a{
    padding: 4px 16px 1px 0px;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
}
#cd-lateral-nav a:hover{
    color: #000;
}
#cd-lateral-nav .cd-navigation{
    margin: 14px 32px 0;
    border-bottom: 1px solid #eee;
}
nav#cd-lateral-nav .links li{
    height: 50px;
}
nav#cd-lateral-nav .social-media li{
    height: 70px;
}
nav#cd-lateral-nav .links li a:after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
nav#cd-lateral-nav .links li a:hover:after{
    width: 100%;
    background: #e96125;
}

nav#cd-lateral-nav .extra-links li{
    height: 40px;
}
#cd-lateral-nav .extra-links a{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}
nav#cd-lateral-nav .extra-links li a:after{
    content: '';
    display: block;
    height: 1.5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
nav#cd-lateral-nav .extra-links li a:hover:after{
    width: 100%;
    background: #ffa53e;
}
#cd-lateral-nav ul.social-media{
    border-bottom: 1px solid #eee;
}
#cd-lateral-nav .social-media li .first-icon{
   padding: 18px 0px 16px 0px
}
#cd-lateral-nav .social-media li a{
    color: #000;
    float: left;
    padding: 18px 0px 16px 5px;
}
.grofers-social-icon {
    color: #666;
    font-size: 18px;
    padding: 0 15px;
}

.twitter:hover .fa-twitter{
    color: #00ACED;
} 
.facebook:hover .fa-facebook{
    color:#3B5998;
}
.google:hover .fa-google-plus{
    color: #C63D2D;
}
.linkedin:hover .fa-linkedin{
    color: #4875B4;
}
.github:hover .fa-github{
    color: #000;
}
.footer{
    height: 310px;
}
.copyright{
    font-size: 12px;
    vertical-align: 0%;
}
#cd-lateral-nav footer .cd-navigation{
    border-bottom: none;
    color: #333333;
    font-weight: 400;
    margin: 14px 20px;
}
#cd-lateral-nav .cd-navigation.social-media{
    margin-top: 0px;
}
.cd-menu-icon, .cd-menu-icon:before, .cd-menu-icon:after{
    z-index: 99999;
}
#cd-top-nav .hiring-bold a{
    color: #fff;
}
#cd-top-nav .hiring-bold{
    background: #e96215;
    color: #fff;
    border-radius: 3px;
    padding-bottom: 1px;
}
#cd-top-nav .hiring-bold a:hover{
    background: #de5416;
}
#cd-top-nav .hiring-bold:hover{
    background: #de5416;
}
nav#cd-top-nav li.hiring-bold:hover:after{
    width: 100%;
    background: none;
}


/* TEMP RADIO TAG LINE ON LAND PAGE */

.radio{
    font-size: 18px;
    margin-top: 120px;
    text-align: center;
    border-bottom: 3px solid #e8e8e8;
    padding-bottom: 10px;
    background: #fafafa;
}
hr{
    width: 300px;
    border-top: 2px solid #e96215;
}
.radio h3{
    font-weight: 900;
    color: #e96215;
}
.radio h4{
    color: #696a6c;
    font-weight: 300;
}
.radio:hover{
    cursor: pointer;
}
.radio:hover h4{
    text-decoration: underline;
}
.footer-border i{
    vertical-align: 0%;
}
@media(max-width:767px){
    nav#cd-lateral-nav .links li{
        height: 30px;
    }
    #cd-lateral-nav .cd-navigation{
        margin: 5px 32px 5px;
    }
    #cd-lateral-nav a{
        padding: 0px 16px 1px 0px;
    }
    .cross_transition{
        transform:translateX(265px);
        margin-top: -10px;
    }
    nav#cd-lateral-nav .social-media li {
      height: 50px;
    }
    #cd-lateral-nav .social-media li .first-icon, #cd-lateral-nav .social-media li a{
        padding: 5px 0;
    }
}
 /*@media only screen and (max-width : 480px) {
    
 }
 @media screen and (max-width: 350px){
        footer{
        padding-top: 14em;
    }
}
*/
